artifacts/checkpoints/**/*.zip filter=lfs diff=lfs merge=lfs -text
artifacts/checkpoints/ibm_heron_133 filter=lfs diff=lfs merge=lfs -text
artifacts/checkpoints/quantinuum_h2_56 filter=lfs diff=lfs merge=lfs -text
artifacts/checkpoints/ibm_falcon_127 filter=lfs diff=lfs merge=lfs -text
artifacts/checkpoints/ibm_falcon_27 filter=lfs diff=lfs merge=lfs -text
